.badge {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 30px;

  &__top {
    border: 1px solid rgba(255, 255, 255, 0.25);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px;
    transform: translateZ(5px);

    &--correct {
      background-image: url("./images/correct.svg");
      background-color: #63c64d;
    }
  
    &--incorrect {
      background-image: url("./images/incorrect.svg");
      background-color: #e53b44;
    }
  }

  &__bottom {
    transform: translateZ(0);

    &--correct {
      border: 1px solid #327345;
      background-color: #327345;
    }
  
    &--incorrect {
      border: 1px solid #9e2835;
      background-color: #9e2835;
    }
  }
}