*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #afbfd2;
  font-family: 'Boogaloo', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: lighten(#afbfd2, 25%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  overflow: hidden;
  position: relative;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main {
  overflow-y: auto;
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;

  &--active {
    overflow-y: hidden;
  }
}

.footer {
  overflow-x: hidden; 
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
}