.reboot {
  text-align: center;
  padding: 0 0.5em 0.5em;

  &__button {
    display: block;
    width: 100%;
    background: transparent;
    border: 0 none;
    padding: 0.5em 0.5em calc(0.5em + 1px) 0.5em;
    color: #FFF;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    line-height: 1;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    &:hover,
    &:focus {
      outline: 0;
      transform: translateX(25%);
    }

    &:active {
      transform: translateX(35%);
    }
  }
}