.timer {
  display: inline-block;
  background-color: darken(#afbfd2, 17.5%);
  box-shadow:
    0 2px 1px darken(#4f6781, 2.5%) inset,
    0 -2px 1px rgba(255, 255, 255, .25) inset,
    0 2px 1px rgba(255, 255, 255, .25)
  ;
  padding: 3px;
  border-radius: 36px;

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    color: lighten(#4f6781, 10%);
    height: 2.5em;
    width: 2.5em;
    border-radius: 2.5em;
    box-shadow: 0 2px 1px rgba(255, 255, 255, .25) inset;
  }

  &__core {
    font-size: 1.25em;
    line-height: 1;
  }
}