.timer {
  position: relative;
  display: inline-block;
  background-color: #e53b44;
  box-shadow:
    0 -2px 1px darken(#e53b44, 10%) inset,
    0 1px 1px rgba(255, 255, 255, .5) inset,
    0 1px 1px 1px lighten(#4f6781, 17.5%)
  ;
  padding: 4px;
  border-radius: 2.5em;

  &::after {
    content: "";
    position: absolute;
    background-color: #d11c25;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    border-radius: 50%;
    z-index: -1;
  }

  &__inner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    background: linear-gradient(to bottom, #eee 0%,#ddd 100%);
    color: lighten(#4f6781, 10%);
    height: 2.5em;
    width: 2.5em;
    border-radius: 2.5em;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .25) inset;
  }

  &__core {
    position: absolute;
    height: 1.1em;
    top: 50%;
    margin-top: -1.1em;
    width: 2px;
    border-radius: 2px;
    background-color: #3f2832;
    transform-origin: center bottom;
    animation-name: timer-rotate;
    animation-duration: 30s;
    animation-timing-function: steps(30);
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }

  &--active::after {
    animation-name: timer-active;
    animation-duration: 1s;
    animation-delay: 0.2s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}

@keyframes timer-rotate {
  0% { transform: rotateZ(0deg); }
  100% { transform: rotateZ(360deg); }
}

@keyframes timer-active {
  to { transform: translateY(-2.5px); }
}