$cube-black: #6f583d;
$cube-gray700: #976942;
$cube-gray500: #a77549;
$cube-gray400: #ca8d54;
$cube-gray200: #e4a672;

$scene-height: 100%;
$scene-width: 320px;

$spotlight-size: 320px;

$surface-bottom: 160px;
$surface-width: 280px;

$light-width: 320px;
$light-height: 100%; 

$panel-width: 320px;
$panel-bottom: 0;