.badge {
  position: absolute;
  width: $badgeSize;
  height: $badgeSize;

  @media (min-width: $vwMedium) {
    width: $badgeSizeMedium;
    height: $badgeSizeMedium;
  }

  @media (min-width: $vwLarge) {
    width: $badgeSizeLarge;
    height: $badgeSizeLarge;
  }
}