*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
  position: relative;
  height: 100vh;
}

body {
  font-size: $baseFontSize;

  @media (min-width: $vwMedium) {
    font-size: $baseFontSizeMedium;
  }

  @media (min-width: $vwLarge) {
    font-size: $baseFontSizeLarge;
  }
}
  
  