.panel {
  overflow-x: hidden;
  position: absolute;
  width: 100%;
  bottom: 0;

  &__inner {
    max-width: $panelWidth;
    margin: 0 auto;

    @media (min-width: $vwMedium) {
      max-width: $panelWidthMedium;
    }

    @media (min-width: $vwLarge) {
      max-width: $panelWidthLarge;
    }
  }

  &__question {
    margin: 0 0.4em 0.6em;
  }

  &__alternatives {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.25em;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 0.3em;

    @media (min-width: $vwLarge) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 0.25em;
      grid-template-rows: none;
      grid-row-gap: 0;
    }
  }

  &__button {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  &__reboot-inner {
    display: block;
    width: 100%;
  }

  &--active {
    overflow-y: hidden;
  }
}