.surface {
  position: absolute;
  bottom: 185px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateX(80deg);
  transform-style: preserve-3d;

  &__inner {
    position: absolute;
    width: 280px;
    transform-style: preserve-3d;
  }

  &__core {
    display: flex;
    justify-content: flex-end;
    transform-style: preserve-3d;
  }
}