.surface {
  position: absolute;
  bottom: $surfaceBottom;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateX(80deg);
  transform-style: preserve-3d;

  &__inner {
    position: absolute;
    width: $surfaceWidth;
    display: flex;
    justify-content: flex-end;
    transform-style: preserve-3d;

    @media (min-width: $vwMedium) {
      width: $surfaceWidthMedium;
    }

    @media (min-width: $vwLarge) {
      width: $surfaceWidthLarge;
    }
  }

  &__core {
    display: flex;
    justify-content: flex-end;
    transform-style: preserve-3d;
  }

  @media (min-width: $vwMedium) {
    bottom: $surfaceBottomMedium;
  }

  @media (min-width: $vwLarge) {
    bottom: $surfaceBottomLarge;
  }
}