$vwMedium: 800px;
$vhMedium: 600px;
$vwLarge: 1400px;
$vhLarge: 800px;

$baseFontSize: 16px;
$baseFontSizeMedium: 18px;
$baseFontSizeLarge: 24px;

$sceneWidth: 320px;
$sceneWidthMedium: 450px;
$sceneWidthLarge: 800px;
$sceneMinHeight: 450px;
$sceneMinHeightMedium: 550px;
$sceneMinHeightLarge: 875px;
$scenePadding: 17.5vh;
$scenePaddingMedium: 15vh;
$scenePaddingLarge: 12.5vh;
$scenePerspective: 600px;
$scenePerspectiveMedium: 800px;
$scenePerspectiveLarge: 1200px;

$lightWidth: 100%;
$lightWidthMedium: 105%;
$lightWidthLarge: 110;
$lightLeft: 0;
$lightLeftMedium: -2.5%;
$lightLeftLarge: -5%;
$lightTop: -150px;
$lightTopMedium: -215px;
$lightTopLarge: -400px;

$spotlightSize: $sceneWidth;
$spotlightSizeMedium: $sceneWidthMedium;
$spotlightSizeLarge: $sceneWidthLarge;

$surfaceWidth: 280px;
$surfaceWidthMedium: 380px;
$surfaceWidthLarge: 660px;
$surfaceBottom: 185px;
$surfaceBottomMedium: 255px;
$surfaceBottomLarge: 445px;
$surfaceSelectedTranslateX: -110px;
$surfaceSelectedTranslateXMedium: -160px;
$surfaceSelectedTranslateXLarge: -280px;

$cubeSize: 50px;
$cubeSizeMedium: 60px;
$cubeSizeLarge: 100px;
$cubeRevealTranslateZ: 150px;
$cubeRevealTranslateZMedium: 225px;
$cubeRevealTranslateZLarge: 400px;
$cubeRevealShadowScale: 1.35;
$cubeRevealShadowScaleMedium: 1.5;
$cubeRevealShadowScaleLarge: 1.65;

$badgeSize: 30px;
$badgeSizeMedium: 40px;
$badgeSizeLarge: 70px;

$panelWidth: $sceneWidth;
$panelWidthMedium: $sceneWidthMedium;
$panelWidthLarge: $sceneWidthLarge;
$panelTranslateY: 100px;
$panelTranslateYMedium: 120px;
$panelTranslateYLarge: 200px;