.wall {
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;

  &__title {
    margin-top: 0.75em;
    margin-bottom: 0.2em;
  }

  &__subtitle {
    margin-top: 0.2em;
  }
}