.badge {
  &__top {
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: $badgeSize * 0.8;
    transform: translateZ(0.4em);

    &--correct {
      background-image: url("./images/correct.svg");
      background-color: $greenLight;
    }
  
    &--incorrect {
      background-image: url("./images/incorrect.svg");
      background-color: $redLight;
    }

    @media (min-width: $vwMedium) {
      background-size: $badgeSizeMedium * 0.7;
    }

    @media (min-width: $vwLarge) {
      background-size: $badgeSizeLarge * 0.65;
    }
  }

  &__bottom {
    border-radius: 50%;
    
    &--correct {
      border: 1px solid $green;
      background-color: $green;
    }
  
    &--incorrect {
      border: 1px solid $red;
      background-color: $red;
    }
  }

  &--selected {
    animation-name: badge-rotate;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

@keyframes badge-rotate {
  0% { transform: translateZ(0.333em) rotateZ(0deg); }
  100% { transform: translateZ(0.333em) rotateZ(360deg); }
}