.badge {
  &__top {
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px;

    &--correct {
      background-image: url("./images/correct.svg");
      background-color: #63c64d;
    }
  
    &--incorrect {
      background-image: url("./images/incorrect.svg");
      background-color: #e53b44;
    }
  }

  &__bottom {
    border-radius: 50%;
    
    &--correct {
      border: 1px solid #327345;
      background-color: #327345;
    }
  
    &--incorrect {
      border: 1px solid #9e2835;
      background-color: #9e2835;
    }
  }

  &--selected {
    animation-name: badge-rotate;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

@keyframes badge-rotate {
  0% { transform: translateZ(5px) rotateZ(0deg); }
  100% { transform: translateZ(5px) rotateZ(360deg); }
}