body {
  background: $babyBlueLight;
  font-family: 'Boogaloo', Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Boogaloo';
  src: url('./fonts/boogaloo-regular-webfont.woff2') format('woff2'),
       url('./fonts/boogaloo-regular-webfont.woff') format('woff');
}