.cube {
  &__wrapper {
    &--selected {
      animation-name: cube-selected;
      animation-duration: 1s;
      animation-timing-function: ease;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
  }

  &__inner {
    animation-name: cube-rotate;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  &__core {
    width: 50px;
    height: 50px;

    &--selected {
      animation-name: cube-reveal;
      animation-duration: 1s;
      animation-timing-function: ease;
      animation-iteration-count: 1;
      animation-delay: 0.8s;
      animation-fill-mode: forwards;
    }
  }

  &__face {
    background-color: $beige400;
    border: 5px solid $beige400;
    font-size: 1.5em;
    line-height: 1;
    color: $beige900;
    text-shadow: 0 1px 1px $beige200;
    box-shadow: 0 0 0 2.5px $beige500 inset;

    &--top {
      background-color: $beige200;
      border: 5px solid $beige200;
      color: $beige700;
      text-shadow: none;
      box-shadow: 0 0 0 2.5px $beige400 inset;
    }

    &--bottom,
    &--shadow {
      background-color: $beige700;
      border: 0 none;
      text-shadow: none;
    }

    &--shadow {
      opacity: .25;
      box-shadow: 0 0 2.5px 2.5px $beige700;
    }
  }

  &__core--selected &__face--shadow {
    animation-name: cube-reveal-shadow;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
  }
}

#cube-a .cube__text::after { content: "A"; }
#cube-b .cube__text::after { content: "B"; }
#cube-c .cube__text::after { content: "C"; }
#cube-d .cube__text::after { content: "D"; }

@keyframes cube-selected {
  to { transform: rotateZ(-360deg); }
}

@keyframes cube-rotate {
  0% { transform: rotateZ(0deg); }
  100% { transform: rotateZ(360deg); }
}

@keyframes cube-reveal {
  to { transform: translateZ(200px) rotateZ(-45deg); }
}

@keyframes cube-reveal-shadow {
  to {
    transform: rotateY(180deg) translateZ(200px) scale(1.35);
    opacity: .5;
  }
}