.light {
  background: #ffe762;
  background: linear-gradient(to bottom, #ffe762 0%,rgba(255,231,98,0.1) 100%);
  opacity: .5;
  clip-path: polygon(0% 100%, 40% 0%, 60% 0%, 100% 100%);

  &--active {
    animation-name: light-active;
    animation-duration: 1s;
    animation-delay: 0.2s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}

@keyframes light-active {
  to {
    clip-path: polygon(0% 100%, 10% 0%, 90% 0%, 100% 100%);
  }
}