@mixin result($color) {
  background-color: rgba($color, 0.5);
  background: radial-gradient(
    circle at center,
    rgba($color, 0.75) 0%,
    rgba($color, 1) 100%
  );
}

@mixin result-button($color) {
  background: $color;
  background: linear-gradient(
    to bottom,
    $color 0%,
    darken($color, 10%) 100%
  );
  box-shadow:
    0 1px 1px lighten($color, 10%) inset,
    0 2px 5px rgba(0,0,0,0.25)
  ;

  &:active {
    box-shadow:
      0 2px 5px rgba(0,0,0,0.25) inset
    ;
  }
}

@mixin result-reboot($color) {
  text-shadow: 0 1px 2px lighten($color, 10%);

  &:hover,
  &:focus {
    transform: scale(0.9);
  }
}

.result {
  &__inner {
    text-align: center;
    padding: 1em;

    &--active {
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      animation-name: result-inner-active;
      animation-duration: 0.4s;
      animation-timing-function: ease-out;
      animation-iteration-count: 1;
      animation-delay: 1.9s;
      animation-fill-mode: forwards;
    }

    &--timeout {
      animation-delay: 0s;
    }
  }

  &__core {
    &--active {
      opacity: 0;
      transform: scale(2) rotate(0deg);
      animation-name: result-core-active;
      animation-duration: 0.2s;
      animation-timing-function: ease-out;
      animation-iteration-count: 1;
      animation-delay: 1.9s;
      animation-fill-mode: forwards;
    }

    &--timeout {
      animation-delay: 0s;
    }
  }

  &__status {
    font-size: 2em;
    font-weight: normal;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);

    &--correct {
      color: $greenLight;
    }

    &--incorrect {
      color: $redLight;
    }

    &--timeout {
      color: $yellowLight;
    }
  }

  &__question {
    line-height: 1;
    color: $white;
    text-shadow: 0 1px 2px rgba(0,0,0,0.3);
  }

  &__correct {
    line-height: 1;
    color: $white;
    text-shadow: 0 1px 2px rgba(0,0,0,0.25);
    font-weight: normal;
  }

  &__button {
    border-radius: 50%;
    transition: box-shadow 0.2s ease;

    &:focus {
      outline: none;
    }

    &--correct {
      @include result-button($greenLight);
    }

    &--incorrect {
      @include result-button($redLight);
    }

    &--timeout {
      @include result-button($yellowDark);
    }
  }

  &__reboot {
    background: transparent;
    border: 0 none;
    font-size: 1.25em;
    line-height: 0.75;
    padding: 0.25em;
    cursor: pointer;
    transition: transform 0.2s ease;

    &:focus {
      outline: none;
    }

    &--correct {
      color: darken($green, 10%);
      @include result-reboot($greenLight);
    }

    &--incorrect {
      color: darken($redLight, 30%);
      @include result-reboot($redLight);
    }

    &--timeout {
      color: darken($yellowDark, 37.5%);
      @include result-reboot($yellow);
    }
  }

  &--correct {
    @include result($greenDark);
  }

  &--incorrect {
    @include result($redDark);
  }

  &--timeout {
    @include result($yellowDarkest);
  }
}

@keyframes result-inner-active {
  to { opacity: 1; }
}

@keyframes result-core-active {
  to {
    opacity: 1;
    transform: scale(1) rotate(-5deg);
  }
}