.result {
  &__inner {
    text-align: center;
    padding: 1em;

    &--active {
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      animation-name: result-inner-active;
      animation-duration: 0.4s;
      animation-timing-function: ease-out;
      animation-iteration-count: 1;
      animation-delay: 1.9s;
      animation-fill-mode: forwards;
    }
  }

  &__core {
    &--active {
      opacity: 0;
      transform: scale(2) rotate(0deg);
      animation-name: result-core-active;
      animation-duration: 0.2s;
      animation-timing-function: ease-out;
      animation-iteration-count: 1;
      animation-delay: 1.9s;
      animation-fill-mode: forwards;
    }
  }

  &__status {
    font-size: 2em;
    font-weight: normal;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);

    &--correct {
      color: #63c64d;
    }

    &--incorrect {
      color: #e53b44;
    }
  }

  &__question {
    line-height: 1;
    color: #FFF;
    text-shadow: 0 1px 2px rgba(0,0,0,0.3);
  }

  &__correct {
    line-height: 1;
    color: #FFF;
    text-shadow: 0 1px 2px rgba(0,0,0,0.25);
    font-weight: normal;
  }

  &__button {
    border-radius: 50%;
    transition: box-shadow 0.2s ease;

    &:active {
      outline: 0;
    }

    &--correct {
      background: #63c64d;
      background: linear-gradient(
        to bottom,
        #63c64d 0%,
        darken(#63c64d, 10%) 100%
      );
      box-shadow:
        0 1px 1px lighten(#63c64d, 10%) inset,
        0 2px 5px rgba(0,0,0,0.25)
      ;

      &:active {
        box-shadow:
          0 2px 5px rgba(0,0,0,0.25) inset,
          0 2px 5px rgba(0,0,0,0.25)
        ;
      }
    }

    &--incorrect {
      background: #e53b44;
      background: linear-gradient(
        to bottom,
        #e53b44 0%,
        darken(#e53b44, 10%) 100%
      );
      box-shadow:
        0 1px 1px lighten(#e53b44, 10%) inset,
        0 2px 5px rgba(0,0,0,0.25)
      ;

      &:active {
        box-shadow: 0 2px 5px rgba(0,0,0,0.25) inset;
      }
    }
  }

  &__reboot {
    background: transparent;
    border: 0 none;
    font-size: 1.25em;
    line-height: 0.75;
    padding: 0.25em;
    cursor: pointer;
    transition: transform 0.2s ease;
    transform-style: preserve-3d;

    &:active {
      outline: 0;
    }

    &--correct {
      color: darken(#327345, 10%);
      text-shadow: 0 1px 2px lighten(#63c64d, 10%);

      &:hover,
      &:focus {
        transform: scale(0.9);
      }
    }

    &--incorrect {
      color: darken(#e53b44, 30%);
      text-shadow: 0 1px 2px lighten(#e53b44, 10%);

      &:hover,
      &:focus {
        transform: scale(0.9);
      }
    }
  }

  &--correct {
    background-color: rgba(#193d3f, 0.5);
    background: radial-gradient(
      circle at center,
      rgba(#193d3f, 0.75) 0%,
      rgba(#193d3f, 1) 100%
    );
  }

  &--incorrect {
    background-color: rgba(#3f2832, 0.5);
    background: radial-gradient(
      circle at center,
      rgba(#3f2832, 0.75) 0%,
      rgba(#3f2832, 1) 100%
    );
  }
}

@keyframes result-inner-active {
  to { opacity: 1; }
}

@keyframes result-core-active {
  to {
    opacity: 1;
    transform: scale(1) rotate(-5deg);
  }
}