.scene {
  &--active {
    .surface__inner,
    .cube__inner {
      animation-play-state: paused;
    }

    .surface__core:not(.surface__core--selected) .badge,
    .cube__core:not(.cube__core--selected) .cube__face {
      animation-name: scene-paused;
      animation-duration: 0.1s;
      animation-timing-function: ease-out;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }

    .cube__core:not(.cube__core--selected) .cube__face {
      animation-delay: 0.1s;
    }
  }
}

@keyframes scene-paused {
  to {
    opacity: 0;
  }
}