.timer {
  background-color: #e53b44;
  box-shadow:
    0 -2px 1px darken(#e53b44, 10%) inset,
    0 1px 1px rgba(255, 255, 255, .5) inset,
    0 1px 1px 1px lighten(#4f6781, 17.5%)
  ;
  padding: 4px;
  border-radius: 50%;

  &::after {
    background-color: #d11c25;
    border-radius: 50%;
  }

  &__inner {
    background-color: #ddd;
    background: linear-gradient(to bottom, #eee 0%,#ddd 100%);
    color: lighten(#4f6781, 10%);
    border-radius: 50%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .25) inset;
  }

  &__core {
    background-color: #3f2832;
    animation-name: timer-rotate;
    animation-duration: 30s;
    animation-timing-function: steps(30);
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }

  &--active::after {
    animation-name: timer-active;
    animation-duration: 1s;
    animation-delay: 0.2s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}

@keyframes timer-rotate {
  0% { transform: rotateZ(0deg); }
  100% { transform: rotateZ(360deg); }
}

@keyframes timer-active {
  to { transform: translateY(-2.5px); }
}