.timer {
  &__wrapper {
    background-color: $redLight;
    box-shadow:
      0 -2px 1px darken($redLight, 10%) inset,
      0 1px 1px rgba(255, 255, 255, .5) inset,
      0 1px 1px 1px lighten($babyBlueDark, 17.5%)
    ;
    padding: 5px;
    border-radius: 50%;

    &::after {
      background-color: $red;
      border-radius: 50%;
    }
  }

  &__inner {
    background-color: $gray300;
    background: linear-gradient(to bottom, $gray200 0%,$gray300 100%);
    color: lighten($babyBlueDark, 10%);
    border-radius: 50%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .25) inset;
  }

  &__core {
    background-color: $redDark;
    box-shadow: 0 0 1px $redDark;
    animation-name: timer-rotate;
    animation-duration: 30s;
    animation-timing-function: steps(30);
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }

  &--active::after {
    animation-name: timer-active;
    animation-duration: 1s;
    animation-delay: 0.2s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}

@keyframes timer-rotate {
  0% { transform: rotateZ(0deg); }
  100% { transform: rotateZ(360deg); }
}

@keyframes timer-active {
  to { transform: translateY(-4px); }
}