.timer {
  &__wrapper {
    background-color: $redLight;
    box-shadow:
      0 -2px 1px darken($redLight, 10%) inset,
      0 1px 1px rgba(255, 255, 255, .5) inset,
      0 2px 2px rgba(0, 0, 0, .35)
    ;
    padding: 5px;
    border-radius: 50%;

    &--running {
      animation-name: timer-shake;
      animation-duration: 0.75s;
      animation-delay: 8s;
      animation-timing-function: ease-in;
      animation-iteration-count: 3;
    }
  }

  &__back {
    &--active {
      background-color: $red;
      border-radius: 50%;
      animation-name: timer-active;
      animation-duration: 1s;
      animation-delay: 0.2s;
      animation-timing-function: ease;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
  }

  &__inner {
    background-color: $gray300;
    background: linear-gradient(to bottom, $gray200 0%,$gray300 100%);
    border-radius: 50%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .25) inset;
  }

  &__core {
    background-color: $redDark;
    box-shadow: 0 0 1px $redDark;

    &--running {
      animation-name: timer-rotate;
      animation-duration: 10s;
      animation-timing-function: steps(60);
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }

    &--paused {
      animation-play-state: paused;
    }
  }
}

@keyframes timer-shake {
  0%, 80%, 90%, 100% {
    transform: translateX(0);
  }

  10%, 30%, 50%, 70% {
    transform: translateX(-5px);
  }

  20%, 40%, 60% {
    transform: translateX(5px);
  }
}

@keyframes timer-rotate {
  0% { transform: rotateZ(0deg); }
  100% { transform: rotateZ(360deg); }
}

@keyframes timer-active {
  to { transform: translateY(-3px); }
}