$babyBlueLight: #afbfd2;
$babyBlue: #546d89;
$babyBlueDark: #4f6781;

$beige200: #e4a672;
$beige400: #ca8d54;
$beige500: #a77549;
$beige700: #976942;
$beige900: #6f583d;

$greenLight: #63c64d;
$green: #327345;
$greenDark: #193d3f;

$redLight: #e53b44;
$red: #9e2835;
$redDark: #3f2832;

$yellowLight: #ffe762;
$yellow: #e6d876;
$yellowDark: #e5c369;
$yellowDarkest: #533310;

$brown: #743f39;

$white: #ffffff;
$gray200: #eeeeee;
$gray300: #dddddd;